/*
Add styles or override variables from the theme here.
*/
$td-enable-google-fonts: false;

$primary: #0751A6;

/*
Custom Classes
*/

figure.ccfigure {
    padding: 0.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 5px;
    text-align: center;
}

figure.ccfigure > figcaption > p {
    border-top: 1px solid gray;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    text-align: left;
}

figure.mw-lg > img {
    max-width: 992px;
}

figure.mw-md > img {
    max-width: 768px;
}

figure.mw-sm > img {
    max-width: 576px;
}

figure.mw-xs > img {
    max-width: 490px;
}

figure.mw-xxs > img {
    max-width: 384px;
}